*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

$border-color:#888;

.widget-table {
  width: 100%;

  font-size: 16px;
  line-height: 20px;

  border: 1px solid $border-color;
  border-spacing: 0;
  border-collapse: collapse;

}

.widget-table__cell {
  padding: 5px 10px;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  &.widget-table__cell--header {
    font-size: 1.2em;
    background-color: #ddf;
    border-bottom: none;
  }
}

.scrollable-wrapper {
  overflow-y: scroll;

  .widget-table {
    border-top: none;
  }
}