<app-grid [cells]="[agentsWidget, callsWidget]">
  <app-grid-cell [cell]="agentsWidget">
    <app-agents></app-agents>
  </app-grid-cell>
  <app-grid-cell [cell]="callsWidget">
    <app-calls></app-calls>
  </app-grid-cell>
</app-grid>


<!-- <app-grid [cells]="[widget1, widget2, widget3]">
  <app-grid-cell [cell]="widget1" class="w1">AAAAAAA AAAAAAAAAA AAAAAA AAAA</app-grid-cell>
  <app-grid-cell [cell]="widget2" class="w2">BBBBB BBBBBBBBBBBBB BBBB</app-grid-cell>
  <app-grid-cell [cell]="widget3" class="w3">CCCCCC CCCCCCCCCC CCCCCCCC CCCcc</app-grid-cell>
</app-grid> -->