.calls {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.calls__header {
  padding: 5px 10px;
}

.calls__stats {
  margin: 0;
  font-size: 20px;
}

.call {
  &.call--WAITING {
    background-color: #f44;
  }

  &.call--ACTIVE {
    background-color: #66f;
  }
}