$main-color: #88f;

:host {
  position: relative;
}

.grid-cell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  &:hover {
    .grid-cell__resizer {
      opacity: .7;
    }
  }
}

.grid-cell__header {
  padding: 5px;
  background: $main-color;
}

.grid-cell__title {
  margin: 0;

  cursor: move;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.grid-cell__content {
  overflow: hidden;
}

.grid-cell__resizer {
  position: absolute; 
  right: -2px; 
  bottom: -2px;
  cursor: nwse-resize;
  
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent $main-color transparent;

  opacity: 0;
  transition: opacity .2s;
}